[VERSION]
major = 1
minor = 0

[VARIATION]
base_container = "..\HorizonSim_B787_9_GENX"

;===================== FLTSIM =====================

[FLTSIM.0]
title = "Boeing 787-9 (GE) Xiamen Air United Dream" ; Variation name
model = "\..\..\HorizonSim_B787_9_GENX\model" 
panel = "\..\..\HorizonSim_B787_9_GENX\panel.GE"
sound = "\..\..\HorizonSim_B787_9_GENX\sound" ; sound folder
texture = "B789_CXA_B1567" ; texture folder
ui_variation = "Xiamen Air" ; e.g. World Air, IFR Panel
atc_id = "B-1567" ; tail number
atc_airline = "Xiamen Air" ; airline name
icao_airline = "CXA" ; airline icao code
isUserSelectable = 1 ; Is the plane selectable by the user
