[VERSION]
major = 1
minor = 0

[VARIATION]
base_container = "..\HorizonSim_B787_9_TRENT"

;===================== FLTSIM =====================

[FLTSIM.0]
title = "Boeing 787-9 (RR) LOT" ; Variation name
model = "\..\..\HorizonSim_B787_9_TRENT\model" ; model folder
panel = "\..\..\HorizonSim_B787_9_TRENT\panel.RR" ; panel folder
sound = "\..\..\HorizonSim_B787_9_TRENT\sound" ; sound folder
texture = "B789_LOT_SPLSA" ; texture folder
ui_variation = "LOT Polish Airlines" ; e.g. World Air, IFR Panel
atc_id = "SP-LSA" ; tail number
atc_airline = "LOT" ; airline name
icao_airline = "LOT" ; airline icao code
isUserSelectable = 1 ; Is the plane selectable by the user